.hr {
  width: 250px;
  background-color: #e1dfe1;
  margin: 0 auto;
  height: 1px;
}

.storybook-event-details {
  /* border-top: 2px solid #e1dfe1; */
  padding: 10px 16px;
}

.storybook-event-details h3 {
  font-family: 'Simply Cricket Demi', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.storybook-event-details p {
  font-family: 'Simply Cricket Book', Helvetica, Arial, sans-serif !important;
  font-weight: 100 !important;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
  padding: 5px 0;
}

.storybook-event-details a {
  display: block;
  font-family: 'Simply Cricket Demi', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  padding-bottom: 5px;
}
