.button-toggle-ui {
  background-color: #FFF;
  border: none;
  transition: height 200ms;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 12px 8px;
}

.expand-button {
  background: url(./assets/chevron-down-icon.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  display: inline-block;
}

.button-toggle-ui.expanded {
  transform: rotateX(180deg);
}
