.timeline-footer {
  color: #3170B7;
  font-size: 12px;
  font-family: 'Simply Cricket Demi', Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 10px 0 15px 0;
}

.timeline-footer:after {
  content: '>';
  padding-left: 2px;
  font-size: 10px;
}
