.wrapper {
  background-color: #404041;
}

h1 {
  padding: 24px 22px;
  font-family: 'Simply Cricket Bold', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
}
