
.main-text {
    font-family: 'Simply Cricket Demi', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.sub-text {
    font-family: 'Simply Cricket Book', Helvetica, Arial, sans-serif;
    font-weight: 400;
    border: 0;
    font-size: 12px;
    line-height: 16px;
}
