.container {
    padding: 18px 18px 13px 18px;
}

.container p {
    font-family: 'Simply Cricket Book', Helvetica, Arial, sans-serif;
    display: inline;
    font-size: 12px;
}

p:first-of-type {
    font-family: 'Simply Cricket Demi', Helvetica, Arial, sans-serif;
    font-weight: 700;
}
