.container p{
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline;
    border: 0;
    font-size: 1em;
    border-radius: 3em;
}

p:first-of-type {
    font-weight: 700;
}